In [4]:
import gmaps
import pandas as pd


# Google developer API key
from config import gkey

# Access maps with unique API key
gmaps.configure(api_key=gkey)

In [5]:
file_pash = "Result/Traffic_Collision_Data_2016.csv"
collision_df = pd.DataFrame(pd.read_csv(file_pash))
collision_withlocation = collision_df[collision_df["Location"]!="(0, 0)"]
collision_withlocation.head()

,Date Occurred,Time Occurred,Area ID,Area Name,Victim Age,Address,Cross Street,Location,Date in Full,Day of Week,Year,Date
0,01/03/2016,1950,12,77th Street,39.0,VERNON AV,HOOVER ST,"(34.0037, -118.2878)",2016-01-03,Sunday,2016,1/3
1,02/05/2016,1835,1,Central,44.0,HOPE,3RD,"(34.0525, -118.2535)",2016-02-05,Friday,2016,2/5
2,10/20/2016,950,1,Central,46.0,5TH,MAIN,"(34.0471, -118.2491)",2016-10-20,Thursday,2016,10/20
3,10/20/2016,1216,1,Central,53.0,HILL,8TH,"(34.0467, -118.252)",2016-10-20,Thursday,2016,10/20
4,03/29/2016,1445,3,Southwest,27.0,BUDLONG,ADAMS,"(34.0328, -118.2964)",2016-03-29,Tuesday,2016,3/29

In [33]:
first_count = collision_withlocation[collision_withlocation["Date Occurred"]=="12/02/2016"]
first_count.count()

Date Occurred    197
Time Occurred    197
Area ID          197
Area Name        197
Victim Age       178
Address          197
Cross Street     184
Location         197
Date in Full     197
Day of Week      197
Year             197
Date             197
dtype: int64

In [34]:

location_list = list(first_count["Location"])

In [35]:
lat=[]
lng=[]
for x in location_list:   
    lat.append(x.split(",")[0][1:])
    lng.append(x.split(",")[1][:-1])
lat = list(pd.to_numeric(lat))
lng = list(pd.to_numeric(lng))

In [36]:
coordinate = zip(lat,lng)
coordinate=list(coordinate)
len(coordinate)

197

In [37]:
# Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

In [38]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(coordinate)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…